html {
  font-size: 16px;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 1rem auto;
}

.movie {
  background: plum;
}

.selected {
  background: pink;
}
