html {
  font-size: 16px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  background: #eee;
  color: white;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 1rem auto;
}

header {
  text-align: center;
}

header h1 {
  font-size: 4rem;
  font-family: 'Playball', cursive;
  color: #a13a3a;
}

.container {
  background: #1b1b1b;
}

.something {
  width: 100%;
  overflow: auto;
}

/** Movies **/

.movies {
  display: inline-block;
  width: 79%;
  margin: 1rem auto;
  clear: both;
  float: left;
}

.movies .ember-view {
  display: inline-block;
  width: 24%;
}

.movie {
  display: inline-block;
  width: 100%;
  color: white;
}

.selected {
}

.poster {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  transition: all 0.15s ease;
}

.poster:hover {
  cursor: pointer;
  /*border: solid .5rem #d74f4f;*/
  -webkit-box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.75);
  transform: scale(1.05);
}

.movie-info {
  display: inline-block;
  width: 80%;
  color: white;
}

button.add-to-queue {
  /*position: absolute;
  bottom: 0;*/
  background: #a13a3a;
  opacity: .8;
  width: 100%;
  margin-top: .5rem;
  padding: .3rem 0 .5rem 0;
  border: none;
  border-bottom: solid .5rem #d74f4f;
  border-radius: 0;
  font-size: 1.6rem;
  font-weight: bold;
  color: #d74f4f;
  transition: all 0.3s ease;
}

button.add-to-queue:hover {
  cursor: pointer;
  opacity: 1;
  color: #fff;
}

/** Queue **/

.queue {
  display: inline-block;
  width: 20%;
}
