<button class="nav" {{action "navBack"}}>-</button>
<button class="nav" {{action "navForward"}}>></button>

<div class="something">
  <div class="movies">
    {{#each model as |movie|}}
      {{movie-list movie=movie}}
    {{/each}}
  </div>

  <div class="queue">
    <p>queue</p>
    {{queue-queue queuedMovies=model}}
  </div>
</div>
